* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body,#root {
  width: 100%;
  height: 100%;
}
html{
  background-color: rgb(0, 0, 0);

}

form{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
form input{
  outline-color: transparent;
  padding: 1vw;
  font-size: 2vw;
  border-radius: 0.4vw;
}
form button{
  padding: 0.8vw;
  border: none;
  outline: none;
  font-size: clamp(20px,1.3vw,60px);
  background-color: blue;
  color: rgba(255, 255, 255, 0.656);
  border-radius: 0.4vw;
  transition: all ease 0.6s;
}

form button:active{
  scale: 0.95;
  background-color: rgb(10, 10, 197);
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  margin-left: auto;
  justify-content: center;

}
.note{
  background-color: rgb(69, 64, 64);
  padding: 2rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1.3vw;

}
.note button{
  padding-inline: 3vw;
  padding-block: 1vw;
  border: none;
  outline: none;
  font-size: clamp(20px,1.3vw,60px);
  background-color: rgb(223, 12, 12);
  color: rgba(255, 255, 255, 0.656);
  border-radius: 0.6vw;
  transition: all ease 0.6s;
}
.note button:active{
    scale: 0.95;
    background-color: rgb(197, 10, 44);
}
.Update{
  padding-inline: 3vw;
  padding-block: 1vw;
  border: none;
  outline: none;
  font-size: 3.6vw;
  border: none;
  outline: none;
  font-size: 1vw;
  background-color: green !important;
  color: rgba(255, 255, 255, 0.656);
  border-radius: 0.4vw;
  transition: all ease 0.6s;
}

 .Update:active{
    scale: 0.95;
    background-color: rgb(125, 176, 15) !important;
}
.note-creation-form{
  display: flex;
  gap:1rem;
  padding-inline:3rem;
  padding-block: 1rem;
}
.UpdationForm{
  background-color: gray;
  padding: 1vw;
  position:absolute; 
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 1vw;
  border-radius: 0.5vw;
}
.UpdationForm h1{
  text-decoration: underline;
  font-weight: 500;

}

.UpdationForm textarea{
 outline: none;
width: 20vw;
height: 20vw;
border-radius: 0.2vw;
font-size: 1vw;
}
.UpdationForm button{
  font-size: clamp(20px,1.3vw,60px);
  outline: none;
  border: none;
  background-color: #22c55e;
  color: #ffffff;
}